<h1>All Elected Officials</h1>

<%= form_for @elected, url: "/electeds/filter", method: "post" do |f| %>
  <%= f.label :state %>
  <select id="State" name="state">

    <% Elected.all.pluck(:state).uniq.sort.each do |state| %>
    <option value="<%= state %>"><%= state %></option>
    <% end %>

  </select>
  <%= f.submit "Filter" %>
<% end %>

<%= render @electeds %>

