<div class="display-space">
  <h2><%= @elected.first_name %> <%= @elected.last_name %></h2>

  <%= image_tag "headshots/#{@elected.biography}.jpg" %>

  <div class="campaign-finance">
    <% unless @local.nil? %>
    <p class="center-text">In the 2014 Campaign Cycle <%= @elected.first_name %> <%= @elected.last_name %> has raised a total of $<%= number_with_delimiter(@local["In-State"].last.to_i + @local["Out-of-State"].last.to_i, delimiter: ",") %>, broken down as follows:</p>
    <canvas id="donations" width="250" height="250"></canvas>
    <span id="in-state">In-State: $<%= number_with_delimiter(@local["In-State"].last, delimiter: ",") %></span>
    <span id="out-of-state">Out-of-State: $<%= number_with_delimiter(@local["Out-of-State"].last, delimiter: ",") %></span>
    <div class="clearfix"></div>
    <% else %>
    <p>No Campaign Finance Information is Currently Available</p>
    <% end %>
  </div>

  <div class="elected-bio">
    <p><strong><%= @elected.first_name %> <%= @elected.last_name %></strong> <%= @elected.bio_text %></p>
  </div>


  <div class="elected-committee">
    <% @elected.committees.each do |committee| %>
    <%= link_to("#{committee.name}", committee_path(committee)) %><br>
    <% end %>
  </div>

  <button class="follow" value=<%= @elected.id %>>
    <% if current_user.electeds.include?(@elected) %>
    Unfollow
    <% else %>
    Follow
    <% end %>
  </button>

</div>
<% unless @local.nil? %>
<script>
$(document).ready(function(){
  var ctx = $("#donations").get(0).getContext("2d");
  var data = [{
    value: <%= @local["In-State"][1] %>,
    color: "#BCAE8F"
  },
  {
    value: <%= @local["Out-of-State"][1] %>,
    color: "#7F7A67"
  }];

  var options = {
    segmentShowStroke: false,
    animationSteps: 50,
    animationEasing: "easeOutBounce",
    animateScale: true
  };
  var myChart = new Chart(ctx).Pie(data, options);
})
</script>
<% end %>
