<br>
<div id="login-form">
  <h2>LOG IN</h2>
  <%= form_tag "/session" do %>
    <%= label_tag :email %>
    <%= email_field_tag :email %>
    <%= label_tag :password %> 
    <%= password_field_tag :password %>
    <%= submit_tag "Log in!" %>
  <% end %>
</div>