<h1><%= @user.first_name %></h1>
<p><%= link_to("Edit Your Account", edit_user_path(@user)) %></p>

<%= render partial: "electeds/elected", collection: @electeds || "You don't follow anyone" %>

<form action="/users/<%= @user.id %>" method="POST" >
  <input type="hidden" name="_method" value="DELETE" />
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <button>Delete your account</button>
</form>

