<!DOCTYPE html>
<html>
<head>
  <title>Infocongress</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <p><%= link_to("Home", (session[:user_id].nil? ? electeds_path
 : user_path(User.find(session[:user_id])))) %></p>
    <p><%= link_to("Please Log in", "/login") if session[:user_id].nil? %></p>
    <p><%= link_to( "Log Out", "/session", method: "delete") unless session[:user_id].nil? %></p>
  </header>


  <%= yield %>

</body>
</html>
