<!DOCTYPE html>
<html>
<head>
  <title>Infocongress</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="nav_bar">
    
    <img class="background-image" src="http://www.matthewbphoto.com/data/photos/62_1us_capitol_panorama.jpg" alt="capitol at twilight" />
    
    <div id="link-container">
      <span class="link">
        <%= link_to("Home", (session[:user_id].nil? ? root_path
 : user_path(User.find(session[:user_id])))) %>
      </span>
      <% unless session[:user_id].nil? %>
        <span class="link">
          <%= link_to("Electeds", electeds_path) %>
        </span>
      <% end %>
      <% if session[:user_id].nil?  %>
      <span class="link">
        
        <%= link_to("Please Log in", "/login") %>
        
      </span>
      <% end %>
      <% unless session[:user_id].nil? %>
        <span class="link">
          <%= link_to( "Log Out", "/session", method: "delete") %>
        </span>
      <% end %>
    </div>

  </header>


  <%= yield %>

</body>
</html>
